{% extends 'music/base.html' %}
{% block title %}Song Details {% endblock %}
{% block body %}
    <img src="{{album.album_logo.url}}" class="img-thumbnail" alt="Cinque Terre" width="400" height="500">
    <h1>{{album.album_title}}</h1>
    <h3>{{album.artist}}</h3>
    {% if error_message %}
        <p><strong>{{error_message}}</strong></p>
    {% endif %}
    <ul>
        {% for song in album.song_set.all %}
        <li>{{song.song_title}} - {{song.file_type}}</li>
        {% endfor %}
    </ul>

{% endblock %}